@using GPO_BLAZOR.Client.Class.Date
@using GPO_BLAZOR.Client.Class.JSRunTimeAccess

<link href="GPO_BLAZOR.styles.css" rel="stylesheet" type="text/css">



    <div class="" onclick="document.querySelector('.navbar-toggler').click()" style="background-color:@InterfaceColor.TusurColor">
        <nav class="">

                <NavLink class="" href="" Match="NavLinkMatch.All">
                    <button class="" value="Справка" style="margin-left: 40p; background-color:@InterfaceColor.TusurColor">
                        Заявления
                    </button>
                </NavLink>
            

            
                <NavLink class="" href="counter">
                    <button class="" value="Второе что-то" style="background-color:@InterfaceColor.TusurColor">
                        FAQ
                    </button>
                </NavLink>

            
                <NavLink class="" href="weather">
                    <button class="" value="Третье" style="background-color:@InterfaceColor.TusurColor">
                        Обратная связь
                    </button>
                </NavLink>



                
            

        </nav>
    </div>


@code
{


}

