@using GPO_BLAZOR.Client.Class.Date
@using GPO_BLAZOR.Client.Pages
@using System.Text.Json;
@using GPO_BLAZOR.Client.Class.JSRunTimeAccess;

@inject CookieStorageAccessor cookieStorage;

@inject IJSRuntime JSRuntimer;

@page "/AutorizationForm"


<div class="body">

    @if (isLoading) {
        <PageTitle>Пожалуйста подождите</PageTitle>
        <h1>
            Загрузка
        </h1>
    }
    else {
        <link href="GPO_BLAZOR.styles.css" rel="stylesheet" type="text/css" />

            

        <PageTitle>Добро Пожаловать!!!</PageTitle>
        <h1>
            Панель входа в аккаунт
        </h1>
        @if (message != null && message != "")
            {
                <h2 style="color:red">
                    @message
                </h2>
            }
        
            <h3> 
            Логин (e-mail) 
        </h3>
        <input type="email" class="DateInput" @bind-value="AuthorizationInterface.Name"/>

        <h3>
            Пароль 
        </h3>
        <input type="password" class="DateInput" @bind-value="AuthorizationInterface.Password"/>

        <input type="button" class="AgreeButton" value="Отправить" @onclick="async ()=>{await AuthorizationInterface.Send(value, timer); await ButtonClicked();}"/>



        @if (AuthorizationInterface.RequestMessage==null||AuthorizationInterface.RequestMessage.Count()==0)
        {
    
        }
        else
        {
            <h4 style="color:red">
                @AuthorizationInterface.RequestMessage
            </h4>
        }
        }
    </div>



