@using GPO_BLAZOR.Client.Class.Date;
@using GPO_BLAZOR.Client.Class.JSRunTimeAccess;
@using GPO_BLAZOR.Client.Parts;
@inject NavigationManager Navigation
@inject IJSRuntime jsr


<body>
        @if(isLoading) {
        @if (Date is not null)
        {
            <div class="sidebar">
                <div class="borderBlock">
                    <ul>
                        @foreach (IPage item in Date.Date)
                        {
                            <li >
                                <div>
                                    <input type="button" @onclick="(async )=>ChangeValue(item)" value="@item.PageName" />
                                </div>
                            </li>
                        }
                    </ul>
                    }

                </div >
            </div>
            <div class="content">
                <PageValuesBlock Date="SelectedPage"/>
                <input class="inputbutton" type="button" value="Отправить" @onclick="(async) => { SetDate();}" style="background-color:@InterfaceColor.TusurColor" />
            </div>
        }
        else
        {
            <h2> Данные отсутствуют </h2>
        }

    } else
    {
        <h2>
            Выполняется загрузка
        </h2>
    }

</body>



