body {
}

input {
    font-weight: 400;
    border: none;
    width: 150px;
    height: 40px;
    background-color: var(--button-color);
    display: inline-block;
    color: white;
    font-size: large;
    text-align: left;
    position: relative;
    margin-top: 20px;
    position: center;
    margin-top: 10px;
    border-radius: 10px;
}

td {
    margin-left: 15px;
    margin-right: 15px
}
