@using GPO_BLAZOR.Client.Class.Date
@using GPO_BLAZOR.Client.Class.JSRunTimeAccess


<tr>
    <td>
        @Date.Time.ToString()
    </td>
    <td>
        @switch (Date.PracticType)
        {
            case PracticType.Studing:
                <a>Учебная</a>
                break;
            case PracticType.Factory:
                <a>Производственная</a>
                break;
        }
    </td>
    <td>
        @switch (Date.State)
        {
            case State.Partial:
                <a>Незаполненно</a>
                break;
            case State.Agree:
                <a>Принято</a>
                break;
            case State.Full:
                <a>Заполненно</a>
                break;
        }
    </td>
    <td>
        <input type="button" @onclick="Click" value="Открыть" style="background-color:@InterfaceColor.TusurColor" />
    </td>
</tr>

@code {
    [Parameter]
    public IStatmenTableLineModel Date { get; set; }

    [Parameter]
    public EventCallback<(string, int)> ViemStatmen { get; set; }

    async Task Click()
    {
        await ViemStatmen.InvokeAsync((Date.id, Date.Number));
    }

}
