table {
    position: relative;
    margin-left: 7%;
    margin-top: 30px;
}

thead {
    margin-top: 10px;
}

input {
    font-weight: 400;
    border: none;
    width: 150px;
    height: 250px;
    background-color: var(--button-color);
    display: inline-block;
    color: white;
    font-size: large;
    text-align: left;
    position: relative;
    margin-top: 20px;
    position: center;
    margin-top: 10px;
    margin-left: 7%;
    border-radius: 10px;
}

tr {
    margin-bottom: 15px;
}

table {
    width: 100%;
    position: center;
}
